html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 11vh;
}
.img{
  max-width: 67%;
}

.container-display{
  margin-top: 2em
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.img-footer{
  width: 29%;
}

.copy-text{
  color: rgba(255, 255, 255, 0.5)
}